---
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noindex"/>
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url"/>
    <title>Content Manager</title>
  </head>
  <body>
    <script src="https://unpkg.com/decap-cms@^3.10.0/dist/decap-cms.js" is:inline></script>
  </body>
</html>

<script>
  import {Button} from '../cms/components/Button.js'
  import {JamedaEmbedding} from '../cms/components/JamedaEmbedding.js'
  import {Card} from '../cms/components/Card.js'
  import {ImageBlock} from '../cms/components/ImageBlock.js'
  import {Img} from '../cms/components/Img.js'
  import {SplitPage} from '../cms/components/SplitPage.js'
  import {ImageGallery} from '../cms/components/ImageGallery.js'
  import {PagePreview} from "../cms/components/PagePreview.jsx";

    function register() {
        // @ts-ignore
        const CMS = window.CMS;
        CMS.registerPreviewStyle('/admin/admin.css');

        CMS.registerEditorComponent(Button);
        CMS.registerEditorComponent(JamedaEmbedding);
        CMS.registerEditorComponent(Card);
        CMS.registerEditorComponent(ImageBlock);
        CMS.registerEditorComponent(Img);
        CMS.registerEditorComponent(SplitPage);
        CMS.registerEditorComponent(ImageGallery);

        CMS.registerPreviewTemplate('page', PagePreview);
        CMS.registerPreviewTemplate('kinderwunsch', PagePreview);
        CMS.registerPreviewTemplate('schwangerschaft', PagePreview);
        CMS.registerPreviewTemplate('frauenheilkunde', PagePreview);
        CMS.registerPreviewTemplate('babyzeit', PagePreview);
        CMS.registerPreviewTemplate('kontakt', PagePreview);
    }

    if (document.readyState === 'complete' || document.readyState === 'interactive') {
        register();
    } else {
        window.addEventListener('DOMContentLoaded', register);
    }
</script>