---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';

interface Props {
    image: string;
    alt: string;
    href?: string;
}

const {image, alt, href = ''} = Astro.props as Props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif,webp}')
if (!images[image])
    throw new Error(`"${image}" does not exist in: "src/assets/images*.{jpeg,jpg,png,gif,webp}"`);
---
<div class="ce_text grid1 block">
  <figure class="image_container float_above">
      { href.trim() !== '' ? (<a href={href} title={alt}>
          <Image src={images[image]()} alt={alt} title={alt} width={300}/>
        </a>)
          : (
          <Image src={images[image]()} alt={alt} title={alt} width={300}/>)
      }
  </figure>
  <slot/>
</div>