---
import {Image} from 'astro:assets';

interface Props {
    title?: string;
    body: string;
    image: string;
    href?: string;
    alt?: string;
}

const {title, image, href = '', alt = ''} = Astro.props as Props;
---
<div class="ce_text grid1 block">
  <figure class="image_container float_above">
    <a href={href} title={title}>
      <img src={image} alt={alt} width="300"/>
    </a>
  </figure>
    <slot />
</div>