---
import type {ImageMetadata} from "astro";
import { Image } from "astro:assets";
import settings from "../settings/site-settings.json";
import {marked} from "marked";
const footerText = marked.parse(settings.footerText || '');

const images = import.meta.glob<{ default: ImageMetadata }>('/public/admin/uploads/*.{jpeg,jpg,png,gif,webp}')
const footerImagePath = "/public" + settings.footerImage;
if (!images[footerImagePath])
    throw new Error(`"${footerImagePath}" does not exist in: "/public/admin/uploads/*.{jpeg,jpg,png,gif,webp}"`);
---
<footer id="footer">
  <div class="inside">
    <!-- indexer::stop -->
    <nav class="mod_navigation nav_meta block" role="off-canvas">
      <a href="#footercontent" class="invisible">Navigation überspringen</a>
      <ul class="level_1" style="padding: 5px;">
        <li class="first">
          <a href="/impressum" title="Impressum" class="first">Impressum</a>
        </li>
        <li class="last">
          <a href="/datenschutz" title="Datenschutz" class="last">Datenschutz</a>
        </li>
      </ul>
    </nav>
    <!-- indexer::continue -->
    <div id="footercontent" class="footer-content">
      <div class="mod_article block" id="article-18">
        <div class="ce_text grid2 block" set:html={footerText}>
        </div>
        <div class="ce_text grid2 block" style="padding: 5px;">
          <p style="text-align: right;">
            <a title={settings.footerImageAlt} href={settings.footerImageHref}>
              <Image src={images[footerImagePath]()} alt={settings.footerImageAlt} width={settings.footerImageWidth}/>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>