---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';

interface Props {
    image: string;
    alt: string;
    position: 'left' | 'right';
    width?: number;
}

const {image, alt = '', position = 'right', width = 300} = Astro.props as Props;
const imagePath = "/public" + image;
const images = import.meta.glob<{ default: ImageMetadata }>('/public/admin/uploads/*.{jpeg,jpg,png,gif,webp}')
if (!images[imagePath])
    throw new Error(`"${imagePath}" does not exist in: "/public/admin/uploads/*.{jpeg,jpg,png,gif,webp}"`);
---
<div class="ce_text block">
  <figure class={`image_container ${position === 'right' ? 'float_right' : 'float_left'}`}>
    <Image src={images[imagePath]()} alt={alt} title={alt} width={width} loading="lazy"/>
  </figure>
  <slot/>
</div>