---
interface ImageItem {
    src: string;
    alt: string;
    title: string;
}

interface Props {
    images: ImageItem[];
}

const {images: imagesInput = []} = Astro.props as Props;

const images = typeof imagesInput === 'string' ? JSON.parse(imagesInput) : imagesInput;
---
<div class="ce_gallery" style="display: inline-block;">
  <ul class="cols_3">
      {images.map((img, index) => (
        <li
          class={`row_0 row_first row_last even col_${index} ${index === 0 ? 'col_first' : ''} ${index === images.length - 1 ? 'col_last' : ''}`}>
          <figure class="image_container">
            <a href={img.src} title={img.title} data-lightbox="lb271" class="cboxElement">
              <img src={img.src} alt={img.alt} style="width: 250px; height: 250px; object-fit: cover; display: block;"/>
            </a>
          </figure>
        </li>
      ))}
  </ul>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" is:inline></script>
<script src="/scripts/colorbox.min.js" is:inline></script>

<script is:inline>
  function initColorbox() {
    if (window.jQuery && jQuery().colorbox) {
      jQuery('a.cboxElement').colorbox({
        rel: 'lb271',
        maxWidth: '95%',
        maxHeight: '95%',
        photo: true
      });
    } else {
      setTimeout(initColorbox, 50);
    }
  }
  initColorbox();
</script>