---
import type {ImageMetadata} from "astro";
import {Image} from "astro:assets";

interface ImageInput {
    src: string;
    title: string;
}

interface Props {
    images: string;
}

const {images: imagesInput} = Astro.props as Props;
const images = JSON.parse(imagesInput) as ImageInput[];
const imageAssets = import.meta.glob<{ default: ImageMetadata }>('/public/admin/uploads/*.{jpeg,jpg,png,gif,webp}')

const processedImages = await Promise.all(images.map(async (img: ImageInput) => {
    const imgPath = "/public" + img.src;
    if (!imageAssets[imgPath]) {
        throw new Error(`"${imgPath}" does not exist in: "/public/admin/uploads/*.{jpeg,jpg,png,gif,webp}"`);
    }
    const asset = await imageAssets[imgPath]();
    return {
        ...img,
        asset,
        url: asset.default.src
    };
}));
---
<div class="ce_gallery" style="display: inline-block;">
  <ul class="cols_3">
      {processedImages.map((img, index) => (
        <li
          class={`row_0 row_first row_last even col_${index} ${index === 0 ? 'col_first' : ''} ${index === images.length - 1 ? 'col_last' : ''}`}>
          <figure class="image_container">
            <a href={img.url} title={img.title} data-lightbox="lb271" class="cboxElement">
              <Image src={img.asset.default} alt={img.title} width={250} loading="lazy"
                     style="height: 250px; object-fit: cover; display: block;"/>
            </a>
          </figure>
        </li>
      ))}
  </ul>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" is:inline></script>
<script src="/scripts/colorbox.min.js" is:inline></script>

<script is:inline>
    function initColorbox() {
        if (window.jQuery && jQuery().colorbox) {
            jQuery('a.cboxElement').colorbox({
                rel: 'lb271',
                maxWidth: '95%',
                maxHeight: '95%',
                photo: true
            });
        } else {
            setTimeout(initColorbox, 50);
        }
    }

    initColorbox();
</script>