---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';

interface Props {
    image: string;
    alt: string;
    position: 'left' | 'center' | 'right';
    width?: number;
    frame?: string;
}

const {image, alt, position = 'left', width = 300, frame = "false"} = Astro.props as Props;
const imagePath = "/public" + image;
const images = import.meta.glob<{ default: ImageMetadata }>('/public/admin/uploads/*.{jpeg,jpg,png,gif,webp}')
if (!images[imagePath])
    throw new Error(`"${imagePath}" does not exist in: "src/assets/images*.{jpeg,jpg,png,gif,webp}"`);

const getAlignmentStyle = (pos: string) => {
    switch (pos) {
        case 'left':
            return 'text-align: left;';
        case 'right':
            return 'text-align: right;';
        case 'center':
            return 'text-align: center;';
        default:
            return 'text-align: left;';
    }
};
---
{frame === "true" ? (
<div style={getAlignmentStyle(position)}>
  <figure class="image_container" style={getAlignmentStyle(position)}>
    <Image src={images[imagePath]()} alt={alt} title={alt} width={width} loading="lazy" />
  </figure>
</div>
    ) : (
<p style={getAlignmentStyle(position)}>
  <Image src={images[imagePath]()} alt={alt} title={alt} width={width} loading="lazy" />
</p>
    )}

<style>
</style>
